<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dxexwxexy.activities">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Modify Package to modify views -->
        <activity android:name=".Intro.HelloWorld">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Timer.TimerActivity" />
        <activity android:name=".GradeViewer.GradeLogin" />
        <activity android:name=".GradeViewer.GradeViewer" />
        <activity android:name=".Tuition.TuitionCalculatorActivity" />
        <activity android:name=".ListView.ListActivity" />
        <activity android:name=".Unit.ConversionActivity"></activity>
    </application>

</manifest>